@model Manga_Omelette.Models_Secondary.StoryFilterViewModel

@{
    ViewData["Title"] = "Advance Search";
}
<link rel="stylesheet" href="~/css/PageCSS/SearchView.css" />

<div class="grid-container">
    @foreach (var obj in Model.stories)
    {
        <div class="grid-item">
            <img src="@obj.CoverImage" />
            <div class="grid-item-overlay">
                <a href="/titles/@obj.Id/@obj.Title"><p>@obj.Title</p></a>
            </div>
        </div>
    }
</div>
<p id="page_number" style="display: none;">@Model.Page</p>
<p id="total_page" style="display: none;">@Model.TotalPages</p>
<div class="pagination_container">
    <ul class="pagination_list">
        <li class="pagination_item" id="previousBtn">
            <a class="pagination_link"@*  href="@Url.Action("SearchView", new { page = Model.Page > 1 ? Model.Page - 1 : 1 })" *@ aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @if (Model.TotalPages > 1)
        {
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="pagination_item @(i == Model.Page ? "active" : "") pagination_page" id="page_@i">
                    <a class="pagination_link" @* href="@Url.Action("SearchView", new { page = i })" *@>@i</a>
                </li>
            }
        }
        <li class="pagination_item" id="nextBtn">
            <a class="pagination_link" @* href="@Url.Action("SearchView", new { page = Model.Page < Model.TotalPages ? Model.Page + 1 : Model.TotalPages })" *@ aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

