@using MangaASP.Models
@model IEnumerable<Story>

@{
    ViewBag.Title = "Manage Story";
    ViewBag.PageName = "superadmin/manage_story";
    Layout = "_SuperADMINLayout";
    <link rel="stylesheet" href="~/css/PageCSS/SearchView.css" />
}

<h1>Manage Story</h1>
<a class="btn btn-primary" asp-controller="Administration" asp-action="CreateStory">Add New Story</a>
<div class="grid-container">
    @foreach (var obj in Model)
    {
        <div class="grid-item">
            <img src="@obj.CoverImage" />
            <div class="grid-item-overlay">
                <p>@obj.Title</p>
            </div>
        </div>
    }
</div>
<p id="page_number" style="display: none;">@ViewBag.Page</p>
<p id="total_page" style="display: none;">@ViewBag.TotalPages</p>
<p id="page_name" style="display: none;">@ViewBag.PageName</p>
<div class="pagination_container">
    <ul class="pagination_list">
        <li class="pagination_item" id="previousBtn">
            <a class="pagination_link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @if (ViewBag.TotalPages > 1)
        {
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="pagination_item" id="pagination_@i">
                    @*Tương đương với set asp-controller, asp-action, asp-route-page*@
                    <a class="pagination_link" href="/superadmin/manage_story?page=@i">@i</a>
                </li>
            }
        }
        <li class="pagination_item" id="nextBtn">
            <a class="pagination_link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

@section Scripts {
    <script src="~/js/script_pagination.js"></script>
}