@model Manga_Omelette.Models_Secondary.EditStoryViewModel

@{
    ViewBag.Title = "Edit Story";
    Layout = "_SuperADMINLayout";
	<link rel="stylesheet" href="~/css/AdminCSS/EditStory.css" />
}

<h1>Edit @Model.story.Title</h1>

<div class="view_container">
	<form method="post" enctype="multipart/form-data" class="title_section" id="formInput">
		<div class="right_part">
			<img id="ImagePreview" src="@Model.story.CoverImage" alt="@Model.story.CoverImage" />
			<label for="fileUpload" class="custom-file-upload">
				Upload Image
			</label>
			<input asp-for="imageFile" id="fileUpload" class="upload_btn" type="file" accept="image/*" />
		</div>
		<div class="left_part">
			<div class="title_story">
				<label asp-for="story.Title" class="col-md-2 col-form-label"></label>
				<input asp-for="story.Title" class="form-control" value="@Model.story.Title"/>
				<span asp-validation-for="story.Title" class="text-danger"></span>
				<input type="hidden" asp-for="story.Id"/>
			</div>
			<div class="author_story"></div>
			<div class="list_tag_genres">
				@for (int i = 0; i < Model.ListGenre.Count; i++)
				{
					var genreId = Model.ListGenre[i].Name.Replace(' ', '-');
					<div class="genre_item" id="@genreId" data-id="@Model.ListGenre[i].Id" data-name="@Model.ListGenre[i].Name">
						<div class="genre_name">
							@Model.ListGenre[i].Name
						</div>
						<i class="bi bi-x-circle-fill"></i>
					</div>
				}
			</div>
			<div class="select_genres">
				<label for="select_list">Select Genres:</label>
				<select class="form-control" id="select_list" asp-items="@(new SelectList(Model.AllGenre, "Id", "Name"))"></select>
			</div>
			<div class="description_section">
				<label asp-for="story.Description"></label>
				<textarea spellcheck="false" asp-for="story.Description"></textarea>
				<span asp-validation-for="story.Description" class="text-danger"></span>
				<div class="update_date">
					<label>Last Update:</label>
					<p>@Model.story.UpdateDate</p>
				</div>
			</div>
			<input type="hidden" name="ListGenreIds" id="ListGenreIds" />
			<input class="submit_btn" type="submit" value="Update">
		</div>
	</form>
	<div class="bottom_section">
		<div class="list_chapter_section">
			<div class="header_list_chapter">
				<h3>List Chapter</h3>
				<a asp-controller="Chapter" asp-action="CreateChapter" asp-route-storyId="@Model.story.Id">Add New Chapter</a>
			</div>
			<div class="list_chapter">
				@foreach (var obj in Model.Chapters)
				{
					<a asp-controller="Chapter" asp-action="EditChapter" asp-route-chapterId="@obj.Id">
						@obj.Title
						<p>@obj.UpdateDate</p>
					</a>
				}
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function(){

			//Script to Preview Image Upload
			$('#fileUpload').change(function (event) {
				var input = this;
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$('#ImagePreview').attr('src', e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			})

			$('#select_list').select2({
				placeholder: "Select Genres",
				allowClear: true,
				multiple: false
			})

			var list_tag_genres = $('.list_tag_genres');
			$('#select_list').change(function () {
				var selectedOption = $(this).find('option:selected');
				var genreId = selectedOption.val();
				var genreName = selectedOption.text().replace(/\s+/g, '-');
				if (genreName && $(`#${genreName}`).length === 0) {
					var genre_item = $('<div></div>');
					genre_item.attr({
						id: genreName,
						'data-id': genreId,
						'data-name': genreName
					}).addClass('genre_item');

					var genre_name = $('<div></div>');
					genre_name.addClass('genre_name').text(genreName);

					var genre_delete_btn = $('<i></i>');
					genre_delete_btn.addClass("bi bi-x-circle-fill");

					genre_item.append(genre_name);
					genre_item.append(genre_delete_btn);

					list_tag_genres.append(genre_item);
				}
			})

			$('.list_tag_genres').on('click', 'i.bi-x-circle-fill', function () {
				$(this).closest('.genre_item').remove();
			})

			function GenreIdsInput(){
				var genreIds = [];
				$('.list_tag_genres .genre_item').each(function () {
					genreIds.push($(this).data('id'));
				});
				$('#ListGenreIds').val(genreIds.join(','));
			}

			$(document).on('submit', '#formInput', function (e) {
				//e.preventDefault();
				GenreIdsInput();
				if ($('#ListGenreIds').val() === '') {
					e.preventDefault();
					alert("Please select at least one genre!");
				}
			})

		})
	</script>
}